.wrapper {
  color: #fff;
  background-color: rgb(63, 21, 85);
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
}
.contentWrapper {
  text-align: center;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 20px;
  color: #000;
  background-color: #fff;
  transition: all 500ms ease-out;
}
.icon:hover {
  transform: rotateY(180deg);
}
.icon svg {
  width: 30px;
  height: 30px;
}
